
.Background {
    background-image: url('../img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* box-shadow: 0 0 50px 50px black inset; */
    height: 100%;
}
